<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Специалист по информационной безопасности</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Специалист по информационной безопасности</h1>
    </div>
    <div class="container">
        <div class="menu">
            <a href="/">Главная</a>
            <a href="/statistics">Общая статистика</a>
            <a href="/demand">Востребованность</a>
            <a href="/geography">География</a>
            <a href="/skills">Навыки</a>
        </div>
        <div class="content">
            <!-- Содержимое страницы -->
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <p>Поспелова Екатерина Дмитриевна РИ-230931/АТ-10</p>
    </div>
</body>
</html>
