body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 0;
    display: flex;
}

.header, .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.header {
    background-color: #9B61FF;
    position: fixed;
    top: 0;
}

.footer {
    background-color: #f4f4f4;
    position: fixed;
    bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 60px;
}

.menu {
    width: 200px;
    background-color: #e0e0e0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.home-container {
    display: flex;
    flex-direction: column;
}
